@font-face {
  font-family: "iconfont"; /* Project id 2841234 */
  src: url('./iconfont/iconfont.woff2?t=1634199069572') format('woff2'),
       url('./iconfont/iconfont.woff?t=1634199069572') format('woff'),
       url('./iconfont/iconfont.ttf?t=1634199069572') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengdan_xingxing:before {
  content: "\e68b";
}

.icon-aixin:before {
  content: "\e6bb";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-xiajiantou:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e632";
}

